<a href="https://colab.research.google.com/github/Rajibcoder/Pyspark-Project1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("writerAPI").getOrCreate()
orderdf = spark.read.format("csv")\
.option("header",True)\
.option("inferschema",True)\
.option("path","/content/orders.csv").load()


orderdf.write.format("json").mode("overwrite")\
.bucketBy(4,"order_status")\
.option("path","/content/newfolder").saveAsTable()

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/content/orders.csv.

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("writerAPI").getOrCreate()
def fun(a):
  return len(a.split())
df = spark.createDataFrame([("Hello world",), ("PySpark is awesome",)], ["Review"])
df.show()
fun2 = udf(fun,IntegerType())
df.withColumn("count",fun2("Review")).show()

+------------------+
|            Review|
+------------------+
|       Hello world|
|PySpark is awesome|
+------------------+

+------------------+-----+
|            Review|count|
+------------------+-----+
|       Hello world|    2|
|PySpark is awesome|    3|
+------------------+-----+

In [ ]:
employees = [(1, "Alice", 101), (2, "Bob", 102), (3, "Charlie", 101)]
departments = [(101, "HR"), (102, "IT")]

emp_schema = ["ID", "Name", "DeptID"]
dept_schema = ["DeptID", "DeptName"]

df_emp = spark.createDataFrame(employees, emp_schema)
df_dept = spark.createDataFrame(departments, dept_schema)

# Inner Join
df_join = df_emp.join(df_dept, "DeptID", "inner")
df_join.show()
df_join.write.format("csv").mode("overwrite").option("header","true").option("path","/content/sample_data/new_folder").save()

+------+---+-------+--------+
|DeptID| ID|   Name|DeptName|
+------+---+-------+--------+
|   101|  1|  Alice|      HR|
|   101|  3|Charlie|      HR|
|   102|  2|    Bob|      IT|
+------+---+-------+--------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("writerAPI").getOrCreate()
data = [ (1, 101, '2024-12-15 09:30:00'), (2, 102, '2024-12-15 11:45:00'), (3, 103, '2024-12-15 12:10:00'), (4, 104, '2024-12-15 13:15:00'), (5, 105, '2024-12-15 14:20:00'), (6, 106, '2024-12-15 15:30:00'), (7, 107, '2024-12-15 16:40:00'), (8, 108, '2024-12-16 09:50:00'), (9, 109, '2024-12-16 10:30:00'), (10, 110, '2024-12-16 12:05:00'), (11, 111, '2024-12-16 13:50:00'), (12, 112, '2024-12-16 14:15:00'), (13, 113, '2024-12-16 15:30:00'), (14, 114, '2024-12-17 09:45:00'), (15, 115, '2024-12-17 11:20:00'), (16, 116, '2024-12-17 12:25:00'), (17, 117, '2024-12-17 13:30:00'), (18, 118, '2024-12-17 14:55:00'), (19, 119, '2024-12-17 15:10:00'), (20, 120, '2024-12-18 10:40:00') ]

columns = ["order_id", "product_id", "timestamp"]

df = spark.createDataFrame(data,columns)

df1 = df.withColumn("hour",when((hour("timestamp")>6) & (hour("timestamp")<12),"Morning")
.when((hour("timestamp")>=12) & (hour("timestamp")<15),"Early Afternoon")
.otherwise("Late Afternoon")).withColumn("DAY",date_format("timestamp","EEEE"))

df2 = df1.groupBy("DAY","hour").count()

df3 = df2.withColumn("Rank",rank().over(Window.partitionBy("hour").orderBy(desc("count"))))
df3.show()
df3.filter(df3.Rank<=2).show()

+---------+---------------+-----+----+
|      DAY|           hour|count|Rank|
+---------+---------------+-----+----+
|   Sunday|Early Afternoon|    3|   1|
|   Monday|Early Afternoon|    3|   1|
|  Tuesday|Early Afternoon|    3|   1|
|   Sunday| Late Afternoon|    2|   1|
|   Monday| Late Afternoon|    1|   2|
|  Tuesday| Late Afternoon|    1|   2|
|   Sunday|        Morning|    2|   1|
|   Monday|        Morning|    2|   1|
|  Tuesday|        Morning|    2|   1|
|Wednesday|        Morning|    1|   4|
+---------+---------------+-----+----+

+-------+---------------+-----+----+
|    DAY|           hour|count|Rank|
+-------+---------------+-----+----+
| Sunday|Early Afternoon|    3|   1|
| Monday|Early Afternoon|    3|   1|
|Tuesday|Early Afternoon|    3|   1|
| Sunday| Late Afternoon|    2|   1|
| Monday| Late Afternoon|    1|   2|
|Tuesday| Late Afternoon|    1|   2|
| Sunday|        Morning|    2|   1|
| Monday|        Morning|    2|   1|
|Tuesday|        Morning|    2|   1|
+-------+---------------+-----+----+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("writerAPI").getOrCreate()
data = [ ("Store A", "2024-01", 800), ("Store A", "2024-02", 1200), ("Store A", "2024-03", 900), ("Store B", "2024-01", 1500), ("Store B", "2024-02", 1600), ("Store B", "2024-03", 1400), ("Store C", "2024-01", 700), ("Store C", "2024-02", 1000), ("Store C", "2024-03", 800) ]
df = spark.createDataFrame(data, ["Store", "Month", "Sales"])
df.show()
lessthen_1000 = df.filter(col("Sales")<1000)
df1 = df.groupBy(col("Store")).agg(sum("Sales").alias("Total Sales")).orderBy(desc("Total Sales"))
df1.show()
df.printSchema()
df.withColumn("cumulative sales",sum("Sales").over(Window.partitionBy("Store").orderBy("Month"))).show()

+-------+-------+-----+
|  Store|  Month|Sales|
+-------+-------+-----+
|Store A|2024-01|  800|
|Store A|2024-02| 1200|
|Store A|2024-03|  900|
|Store B|2024-01| 1500|
|Store B|2024-02| 1600|
|Store B|2024-03| 1400|
|Store C|2024-01|  700|
|Store C|2024-02| 1000|
|Store C|2024-03|  800|
+-------+-------+-----+

+-------+-----------+
|  Store|Total Sales|
+-------+-----------+
|Store B|       4500|
|Store A|       2900|
|Store C|       2500|
+-------+-----------+

root
 |-- Store: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Sales: long (nullable = true)

+-------+-------+-----+----------------+
|  Store|  Month|Sales|cumulative sales|
+-------+-------+-----+----------------+
|Store A|2024-01|  800|             800|
|Store A|2024-02| 1200|            2000|
|Store A|2024-03|  900|            2900|
|Store B|2024-01| 1500|            1500|
|Store B|2024-02| 1600|            3100|
|Store B|2024-03| 1400|            4500|
|Store C|2024-01|  700|             700|
|Store C|2024-02| 1000|            1700|
|Store C|2024-03|  800|            2500|
+-------+-------+-----+----------------+

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder.appName("PivotTableExample").getOrCreate()

# Sample Data
data = [
    (1, "Alice", "Sales", 5000),
    (2, "Bob", "Sales", 7000),
    (3, "Alice", "Marketing", 4500),
    (4, "Bob", "Marketing", 6500),
    (5, "Alice", "IT", 8000),
    (6, "Bob", "IT", 9000)
]

# Column Names
columns = ["ID", "Employee", "Department", "Salary"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

df.show()

df1 = df.groupBy("Employee").pivot("Department").sum("Salary")
df2 = df.groupBy("Department").pivot("Employee").sum("Salary")
df1.show()
df2.show()

+---+--------+----------+------+
| ID|Employee|Department|Salary|
+---+--------+----------+------+
|  1|   Alice|     Sales|  5000|
|  2|     Bob|     Sales|  7000|
|  3|   Alice| Marketing|  4500|
|  4|     Bob| Marketing|  6500|
|  5|   Alice|        IT|  8000|
|  6|     Bob|        IT|  9000|
+---+--------+----------+------+

+--------+----+---------+-----+
|Employee|  IT|Marketing|Sales|
+--------+----+---------+-----+
|     Bob|9000|     6500| 7000|
|   Alice|8000|     4500| 5000|
+--------+----+---------+-----+

+----------+-----+----+
|Department|Alice| Bob|
+----------+-----+----+
|     Sales| 5000|7000|
| Marketing| 4500|6500|
|        IT| 8000|9000|
+----------+-----+----+

In [ ]:
worker_data = [
    "1|John|Doe|5000|2023-01-01|Engineering",
    "2|Jane|Smith|6000|2023-01-15|Marketing",
    "3|Alice|Johnson|4500|2023-02-05|Engineering"
]
data = [tuple(i.split("|")) for i in worker_data]
print(data)
title_data = [
    "1|Engineer|2022-01-01",
    "2|Manager|2022-01-01",
    "3|Engineer|2022-01-01"
]

title = [tuple(i.split("|")) for i in title_data]

worker_schema = ["worker_id", "first_name", "last_name", "salary", "joining_date", "department"]
title_schema = ["worker_ref_id", "worker_title", "affected_from"]

df1 = spark.createDataFrame(data, worker_schema)
df3 = spark.createDataFrame(title, title_schema)



max_sal = df1.agg(max("salary")).collect()[0][0]
min_sal = df1.agg(min("salary")).collect()[0][0]

df2 = df1.withColumn("type",when(df1.salary==max_sal,"Maximum").when(df1.salary==min_sal,"Minimum"))
# df2 = df2.filter(col("type").isNotNull())
df2 = df2.dropna(subset="type")

df2.join(df3,df2.worker_id==df3.worker_ref_id,"inner").show()

[('1', 'John', 'Doe', '5000', '2023-01-01', 'Engineering'), ('2', 'Jane', 'Smith', '6000', '2023-01-15', 'Marketing'), ('3', 'Alice', 'Johnson', '4500', '2023-02-05', 'Engineering')]
+---------+----------+---------+------+------------+-----------+-------+-------------+------------+-------------+
|worker_id|first_name|last_name|salary|joining_date| department|   type|worker_ref_id|worker_title|affected_from|
+---------+----------+---------+------+------------+-----------+-------+-------------+------------+-------------+
|        2|      Jane|    Smith|  6000|  2023-01-15|  Marketing|Maximum|            2|     Manager|   2022-01-01|
|        3|     Alice|  Johnson|  4500|  2023-02-05|Engineering|Minimum|            3|    Engineer|   2022-01-01|
+---------+----------+---------+------+------------+-----------+-------+-------------+------------+-------------+

In [ ]:
data = [
    (123, "A", "AScore", 30),
    (123, "A", "BScore", 31),
    (123, "A", "CScore", 32),
    (124, "B", "AScore", 40),
    (124, "B", "BScore", 41),
    (124, "B", "CScore", 42)
]
df = spark.createDataFrame(data,["id","name","Subject","score"])
df.groupBy("id","name").pivot("Subject").sum("score").show()

+---+----+------+------+------+
| id|name|AScore|BScore|CScore|
+---+----+------+------+------+
|123|   A|    30|    31|    32|
|124|   B|    40|    41|    42|
+---+----+------+------+------+

In [ ]:
data = [ (1, "Laptop", 1000, 5), (2, "Mouse", None, None), (3, "Keyboard", 50, 2), (4, "Monitor", 200, None), (5, None, 500, None), ]

# Define schema and create DataFrame
columns = ["product_id", "product", "price", "quantity"]

df = spark.createDataFrame(data,columns)
avg_price = df.agg(avg("price")).collect()[0][0]
df1 = df.fillna(avg_price,subset="price")
df1.dropna(subset="product").fillna(1,subset="quantity").show()

+----------+--------+-----+--------+
|product_id| product|price|quantity|
+----------+--------+-----+--------+
|         1|  Laptop| 1000|       5|
|         2|   Mouse|  437|       1|
|         3|Keyboard|   50|       2|
|         4| Monitor|  200|       1|
+----------+--------+-----+--------+

In [ ]:
data = [ (1, "Laptop", "2024-08-01"), (1, "Mouse", "2024-08-05"), (2, "Keyboard", "2024-08-02"), (2, "Monitor", "2024-08-03") ]

columns = ["customer_id", "product", "purchase_date"]

df = spark.createDataFrame(data,columns)

df = df.withColumn("date",col("purchase_date").cast("date")).drop("purchase_date")
df.withColumn("Rank",row_number().over(Window.partitionBy("customer_id").orderBy(col("date").desc()))).filter(col("Rank")==1).drop("Rank").show()

+-----------+-------+----------+
|customer_id|product|      date|
+-----------+-------+----------+
|          1|  Mouse|2024-08-05|
|          2|Monitor|2024-08-03|
+-----------+-------+----------+

In [ ]:
data = [("Laptop", 800), ("Mouse", 25), ("Keyboard", 150), ("Monitor", 300)]
columns = ["product", "price"]
df = spark.createDataFrame(data,columns)
df.withColumn("Type",when(col("price") < 100,"low").when((col("price") >= 100) & (col("price") < 500),"Medium").otherwise("High")).show()

+--------+-----+------+
| product|price|  Type|
+--------+-----+------+
|  Laptop|  800|  High|
|   Mouse|   25|   low|
|Keyboard|  150|Medium|
| Monitor|  300|Medium|
+--------+-----+------+

In [ ]:
data = [ ("U1", "2024-12-30 10:00:00", "LOGIN"), ("U1", "2024-12-30 10:05:00", "BROWSE"), ("U1", "2024-12-30 10:20:00", "LOGOUT"), ("U2", "2024-12-30 11:00:00", "LOGIN"), ("U2", "2024-12-30 11:15:00", "BROWSE"), ("U2", "2024-12-30 11:30:00", "LOGOUT"), ("U1", "2024-12-30 10:20:00", "LOGOUT"),(None, "2024-12-30 12:00:00", "LOGIN"),("U3", None, "LOGOUT")]


schema = StructType([ StructField("user_id", StringType(), True), StructField("timestamp", StringType(), True), StructField("activity_type", StringType(), True) ])
df = spark.createDataFrame(data,schema)
df = df.dropDuplicates().dropna(subset = ["user_id","timestamp","activity_type"])
df = df.withColumn("activetime",coalesce(lag("timestamp").over(Window.partitionBy("user_id").orderBy(col("timestamp").desc())),col("timestamp")))
df.withColumn("final",from_unixtime(unix_timestamp("activetime")-unix_timestamp("timestamp"),"HH:mm:ss")).show()

+-------+-------------------+-------------+-------------------+--------+
|user_id|          timestamp|activity_type|         activetime|   final|
+-------+-------------------+-------------+-------------------+--------+
|     U1|2024-12-30 10:20:00|       LOGOUT|2024-12-30 10:20:00|00:00:00|
|     U1|2024-12-30 10:05:00|       BROWSE|2024-12-30 10:20:00|00:15:00|
|     U1|2024-12-30 10:00:00|        LOGIN|2024-12-30 10:05:00|00:05:00|
|     U2|2024-12-30 11:30:00|       LOGOUT|2024-12-30 11:30:00|00:00:00|
|     U2|2024-12-30 11:15:00|       BROWSE|2024-12-30 11:30:00|00:15:00|
|     U2|2024-12-30 11:00:00|        LOGIN|2024-12-30 11:15:00|00:15:00|
+-------+-------------------+-------------+-------------------+--------+

In [ ]:
data = [ ("A", "p1", 100),("A", "p1", 100), ("A", "p2", 200), ("A", "p3", 200), ("B", "p4", 300), ("B", "p5", 150), ("B", "p6", 150), ("C", "p7", 400), ("C", "p8", 300), ("C", "p9", 200), ]

columns = ["category", "product", "amount"]
df = spark.createDataFrame(data,columns)
# df.show()
df = df.groupBy("category", "product").agg(sum("amount").alias("amount")).orderBy("category","product")
WindowSpec = Window.partitionBy("category").orderBy(col("amount").desc())
df.withColumn("result",dense_rank().over(WindowSpec)).filter(col("result")<=3).drop("result").show()

+--------+-------+------+
|category|product|amount|
+--------+-------+------+
|       A|     p1|   200|
|       A|     p2|   200|
|       A|     p3|   200|
|       B|     p4|   300|
|       B|     p5|   150|
|       B|     p6|   150|
|       C|     p7|   400|
|       C|     p8|   300|
|       C|     p9|   200|
+--------+-------+------+

In [ ]:
data = [
 ("HR", "2020", 2500),
 ("HR", "2021", 3200),
 ("HR", "2022", 2800),
 ("Engineering", "2020", 5000),
 ("Engineering", "2021", 6000),
 ("Engineering", "2022", 5500),
 ("Marketing", "2020", 4000),
 ("Marketing", "2021", 3500),
 ("Marketing", "2022", 3300)
]

# Create DataFrame
df = spark.createDataFrame(data, ["Department", "Year", "Salary"])
df1 = df.groupBy("Department").agg(avg("Salary").alias("avg"),sum("Salary").alias("total"))
df1 = df1.filter(col("avg")>3000).orderBy(col("total").desc())
df1.show()

# WindowSpec = Window.partitionBy("Department")
# df.withColumn("avg_sal",avg("Salary").over(WindowSpec)).show()

+-----------+------+-----+
| Department|   avg|total|
+-----------+------+-----+
|Engineering|5500.0|16500|
|  Marketing|3600.0|10800|
+-----------+------+-----+

In [ ]:
data = [ (1, 101, 500.0, "2024-01-01"), (2, 102, 200.0, "2024-01-02"),
(3, 101, 300.0, "2024-01-03"), (4, 103, 100.0, "2024-01-04"),
(5, 102, 400.0, "2024-01-05"), (6, 103, 600.0, "2024-01-06"),
(7, 101, 200.0, "2024-01-07"), ]

columns = ["transaction_id", "user_id", "transaction_amount", "transaction_date"]
df = spark.createDataFrame(data,columns)

df = df.groupBy("user_id").agg(sum("transaction_amount").alias("total_Amount"),max("transaction_date").alias("Last_date")).limit(3)
df.sort(col("total_Amount").desc()).show()

+-------+------------+----------+
|user_id|total_Amount| Last_date|
+-------+------------+----------+
|    101|      1000.0|2024-01-07|
|    103|       700.0|2024-01-06|
|    102|       600.0|2024-01-05|
+-------+------------+----------+

In [ ]:
data = [
 (1, 101, 500.0, "2024-01-01"),
 (2, 102, 200.0, "2024-01-02"),
 (3, 101, 300.0, "2024-01-03"),
 (4, 103, 100.0, "2024-01-04"),
 (5, 102, 400.0, "2024-01-05"),
 (6, 103, 600.0, "2024-01-06"),
 (7, 101, 200.0, "2024-01-07"),
]
columns = ["transaction_id", "user_id", "transaction_amount", "transaction_date"]
df = spark.createDataFrame(data,columns)
df.show()
df.groupBy("user_id").agg(count_distinct("transaction_date").alias("count_distnict_date"),avg("transaction_amount").alias("avg_amount")).filter(col("count_distnict_date")>=3).show()

+--------------+-------+------------------+----------------+
|transaction_id|user_id|transaction_amount|transaction_date|
+--------------+-------+------------------+----------------+
|             1|    101|             500.0|      2024-01-01|
|             2|    102|             200.0|      2024-01-02|
|             3|    101|             300.0|      2024-01-03|
|             4|    103|             100.0|      2024-01-04|
|             5|    102|             400.0|      2024-01-05|
|             6|    103|             600.0|      2024-01-06|
|             7|    101|             200.0|      2024-01-07|
+--------------+-------+------------------+----------------+

+-------+-------------------+-----------------+
|user_id|count_distnict_date|       avg_amount|
+-------+-------------------+-----------------+
|    101|                  3|333.3333333333333|
+-------+-------------------+-----------------+

In [ ]:
data = [
 (1, 101, 500.0, "2024-01-01"),
 (2, 102, 200.0, "2024-01-02"),
 (3, 101, 300.0, "2024-01-03"),
 (4, 103, 100.0, "2024-01-04"),
 (5, 102, 400.0, "2024-01-05"),
 (6, 103, 600.0, "2024-01-06"),
 (7, 101, 200.0, "2024-01-07"),
]
columns = ["transaction_id", "user_id", "transaction_amount", "transaction_date"]
df = spark.createDataFrame(data,columns)
df = df.withColumn("transaction_date",col("transaction_date").cast("date"))
WindowSpec = Window.partitionBy("user_id").orderBy(col("transaction_date").desc())
df = df.withColumn("lag",lag("transaction_date").over(WindowSpec))
df = df.withColumn("gap",datediff("lag","transaction_date"))
df = df.groupBy("user_id").agg(avg("gap").alias("avg_gap"))
df.show()
df.orderBy(col("avg_gap").desc()).limit(1).show()

+-------+-------+
|user_id|avg_gap|
+-------+-------+
|    101|    3.0|
|    102|    3.0|
|    103|    2.0|
+-------+-------+

+-------+-------+
|user_id|avg_gap|
+-------+-------+
|    101|    3.0|
+-------+-------+

In [ ]:
data = [
 ("Alice", "Math", "Semester1", 85),
 ("Alice", "Math", "Semester2", 90),
 ("Alice", "English", "Semester1", 78),
 ("Alice", "English", "Semester2", 82),
 ("Bob", "Math", "Semester1", 65),
 ("Bob", "Math", "Semester2", 70),
 ("Bob", "English", "Semester1", 60),
 ("Bob", "English", "Semester2", 65),
 ("Charlie", "Math", "Semester1", 95),
 ("Charlie", "Math", "Semester2", 98),
 ("Charlie", "English", "Semester1", 88),
 ("Charlie", "English", "Semester2", 90),
 ("David", "Math", "Semester1", 78),
 ("David", "Math", "Semester2", 80),
 ("David", "English", "Semester1", 75),
 ("David", "English", "Semester2", 72),
 ("Eve", "Math", "Semester1", 88),
 ("Eve", "Math", "Semester2", 85),
 ("Eve", "English", "Semester1", 80),
 ("Eve", "English", "Semester2", 83)
]

# Create DataFrame
df = spark.createDataFrame(data, ["Student", "Subject", "Semester", "Grade"])
df.show()
df.groupBy("Student").agg(avg("Grade").alias("avg_grade"))

# WindowSpec = Window.partitionBy("Student")
# df.withColumn("avg_grade",avg("Grade").over(WindowSpec)).show()

+-------+-------+---------+-----+
|Student|Subject| Semester|Grade|
+-------+-------+---------+-----+
|  Alice|   Math|Semester1|   85|
|  Alice|   Math|Semester2|   90|
|  Alice|English|Semester1|   78|
|  Alice|English|Semester2|   82|
|    Bob|   Math|Semester1|   65|
|    Bob|   Math|Semester2|   70|
|    Bob|English|Semester1|   60|
|    Bob|English|Semester2|   65|
|Charlie|   Math|Semester1|   95|
|Charlie|   Math|Semester2|   98|
|Charlie|English|Semester1|   88|
|Charlie|English|Semester2|   90|
|  David|   Math|Semester1|   78|
|  David|   Math|Semester2|   80|
|  David|English|Semester1|   75|
|  David|English|Semester2|   72|
|    Eve|   Math|Semester1|   88|
|    Eve|   Math|Semester2|   85|
|    Eve|English|Semester1|   80|
|    Eve|English|Semester2|   83|
+-------+-------+---------+-----+

DataFrame[Student: string, avg_grade: double]

In [ ]:
products_data = [ (1, "Laptop", 101), (2, "Smartphone", 102), (3, "Tablet", 101) ]

products_schema = ["product_id", "product_name", "category_id"]

products_df = spark.createDataFrame(products_data, schema=products_schema)
products_df.show()

categories_data = [ (101, "Electronics"), (102, "Mobile"), (103, "Home Appliance") ]

categories_schema = ["cat_id", "category_name"]

categories_df = spark.createDataFrame(categories_data,categories_schema)
categories_df.show()

products_df.join(categories_df,products_df.category_id==categories_df.cat_id,"inner").drop("category_id","cat_id").show()

+----------+------------+-----------+
|product_id|product_name|category_id|
+----------+------------+-----------+
|         1|      Laptop|        101|
|         2|  Smartphone|        102|
|         3|      Tablet|        101|
+----------+------------+-----------+

+------+--------------+
|cat_id| category_name|
+------+--------------+
|   101|   Electronics|
|   102|        Mobile|
|   103|Home Appliance|
+------+--------------+

+----------+------------+-------------+
|product_id|product_name|category_name|
+----------+------------+-------------+
|         1|      Laptop|  Electronics|
|         3|      Tablet|  Electronics|
|         2|  Smartphone|       Mobile|
+----------+------------+-------------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark = SparkSession.builder.appName("writerAPI").getOrCreate()

In [ ]:
transaction_data = [
 {"transaction_id": 1, "customer_id": 101, "amount": 150, "date": "2025-01-01"},
 {"transaction_id": 2, "customer_id": 102, "amount": 90, "date": "2025-01-02"},
 {"transaction_id": 3, "customer_id": 103, "amount": 200, "date": "2025-01-03"},
 {"transaction_id": 4, "customer_id": 104, "amount": 50, "date": "2025-01-04"},
 {"transaction_id": 5, "customer_id": 105, "amount": 120, "date": "2025-01-05"}
]
df = spark.createDataFrame(transaction_data)
df.printSchema()
df.filter(col("amount")>100).show()
df.withColumn("discounted_amount",(col("amount")-(col("amount")*0.10))).show()

root
 |-- amount: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- date: string (nullable = true)
 |-- transaction_id: long (nullable = true)

+------+-----------+----------+--------------+
|amount|customer_id|      date|transaction_id|
+------+-----------+----------+--------------+
|   150|        101|2025-01-01|             1|
|   200|        103|2025-01-03|             3|
|   120|        105|2025-01-05|             5|
+------+-----------+----------+--------------+

+------+-----------+----------+--------------+-----------------+
|amount|customer_id|      date|transaction_id|discounted_amount|
+------+-----------+----------+--------------+-----------------+
|   150|        101|2025-01-01|             1|            135.0|
|    90|        102|2025-01-02|             2|             81.0|
|   200|        103|2025-01-03|             3|            180.0|
|    50|        104|2025-01-04|             4|             45.0|
|   120|        105|2025-01-05|             5|            108.0|
+------+-----------+----------+--------------+-----------------+

In [ ]:
data = [
 (1, "Laptop", 1000, 5),
 (2, "Mouse", None, None),
 (3, "Keyboard", 50, 2),
 (4, "Monitor", 200, None),
 (5, None, 500, None),
]
columns = ["product_id", "product", "price", "quantity"]
df = spark.createDataFrame(data,columns)
a = df.agg(median("price")).collect()[0][0]
df=df.fillna(a,subset="price")
# df.when("price">300,df.fillna("Unknown",subset="product"))
df = df.withColumn("product",when(col("product").isNull() & (col("price") > 300), "Unknown").otherwise(col("product")))
df=df.dropna(subset="product")
b = df.agg(round(avg("quantity"))).collect()[0][0]

df=df.fillna(b,subset="quantity")
df=df.withColumn("total_value",col("price")*col("quantity")).drop("product_id")
df.show()

+--------+-----+--------+-----------+
| product|price|quantity|total_value|
+--------+-----+--------+-----------+
|  Laptop| 1000|       5|       5000|
|   Mouse|  350|       4|       1400|
|Keyboard|   50|       2|        100|
| Monitor|  200|       4|        800|
| Unknown|  500|       4|       2000|
+--------+-----+--------+-----------+

In [ ]:
data = [ ("A", "North", 100), ("B", "East", 200), ("A", "East", 150), ("C", "North", 300), ("B", "South", 400), ("C", "East", 250) ]
columns = ["Product", "Region", "Sales"]
df = spark.createDataFrame(data,columns)
df=df.groupBy("Product").pivot("Region").agg(sum("Sales"))
df.show()

+-------+----+-----+-----+
|Product|East|North|South|
+-------+----+-----+-----+
|      B| 200| NULL|  400|
|      C| 250|  300| NULL|
|      A| 150|  100| NULL|
+-------+----+-----+-----+